.navbar a{
  text-decoration:none;
  display:inline-block;
  color:white;
  padding: 0 2em;
  height: 100%;
  font-size: 1.5em;
}

.navbar{
  background-color: #644ED0;
  height: 2em;
  text-align: center;
}

a.active{
  background-color: #EDAB51;
  color: black;
  font-weight: bold;
}